#layer1 path {
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  stroke-width: 1;
  opacity: 0;
  animation-name: draw;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: paused;
}

#layer1 path:nth-child(1) {
  animation-delay: 0;
}

#layer1 path:nth-child(2) {
  animation-delay: 1.2s;
}

#layer1 path:nth-child(3) {
  animation-delay: 1.8s;
}

#layer1 path:nth-child(4) {
  animation-delay: 2s;
}

#layer1 path:nth-child(5) {
  animation-delay: 2.5s;
}

#layer1 path:nth-child(6) {
  animation-delay: 3s;
}

#layer1 path:nth-child(7) {
  animation-delay: 3.5s;
}

#layer1 path:nth-child(8) {
  animation-delay: 4s;
}

#layer1 path:nth-child(9) {
  animation-delay: 4.5s;
}

@keyframes draw {
  0% { stroke-dashoffset: 100; opacity: 1; }
  15% { stroke-dashoffset: 50; opacity: 1; }
  45% { stroke-dashoffset: 25; opacity: 1; }
  100% { stroke-dashoffset: 0; opacity: 1; }
}
